
.cabecera {
    display: flex;
    flex-direction: row;
    background-color: red;
    justify-content: space-between;
}

.cabecera div:last-child{
    width: 200px;
    border: 2px solid gray;
    padding:10px 10px;
}

.cabecera div ul
{

    display: flex;
}





