    h1 {
        text-shadow: 2px 2px #FF0000;
        font-size: 10px;
    }
    
    .solid {
        text-align: center;
        border-style: solid;
    }
    
    .dashed {
        text-align: center;
        border-style: dashed;
    }
    
    .dotted {
        text-align: center;
        border-style: dotted;
        color: #FF0000;
    }
    
    .double {
        text-align: center;
        border-style: double;
        color: #FF0000;
    }