.Bandera{
    height: 100vh;
    border: solid;
    position: relative;
}


.red1{
    background-color: red;
    height: 100vh;
    width: 33.3%;
    float: left;
}



.red2{
    height: 100vh;
    background-color: red;
    width: 33.3%;
    float: right;
}


.image{
    
}