h1 {
    font-family: Jost;
    font-size: 45px;
    font-weight: 100;
    text-decoration: underline;
}


/* */

.parrafo {
    font-family: "Dank Mono", monospace;
    font-size: 40px;
    font-weight: bold;
    font-family: "Josefin";
}

.link-a {
    text-decoration: none;
    color: #af1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    background-color: rgba(red, green, blue, alpha);
}

.span1 {
    /* tachado */
    text-decoration: line-through;
    color: red;
}

.span2 {
    text-decoration: overline;
    color: #af1;
}

.span3 {
    text-decoration: overline;
}


/* para que css pueda leer desde un archivo  teenmos que @g */

@font-face {
    font-family: "Anton";
    src: url("../fonts/Anton-Regular.ttf");
}

@font-face {
    font-family: "lobster";
    src: url("../fonts/Lobster-Regular.ttf");
}

.titulo {
    font-family: "Anton";
}

.parrafo1 {
    font-family: "lobster";
}