h1 {
    font-family: apple-system;
    font-size: 45px;
    font-weight: 100;
    text-decoration: underline;
}


/* */

.parrafo {
    font-family: "Dank Mono", monospace;
    font-size: 100px;
    font-weight: bold;
}

.link-a {
    text-decoration: none;
    color: #af1;
}