body{
    background-color: rgb(168, 154, 154);
}


#contenedor{
    width: 600px;
    height: 600px;
    margin: 100px auto;
    background-color: white;
    box-shadow: 5px 0px 0px gray;
    border-radius: 20px;
}

#campos{
    padding-top: 40px;
    text-align: center;
}

#user{
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}

#user:focus{
    border: 4px solid red;
}

#pass{
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}

.form-control{
    padding-top: 20px;
}

#submit{
    height: 30px;
    width: 90px;
    background-color: blue;
    color: white;
    border-radius: 4px;
}