@font-face {
    font-family: "lobster";
    src: url("../semana1/fonts/Lobster-Regular.ttf");
}

h1 {
    font-family: lobster;
    position: relative;
    text-align: center;
    color: black!important;
    text-decoration: underline;
}

.raya {
    font-weight: bold;
}

.caja {
    position: relative;
}

table {
    border: 1px dashed black;
    padding: 0px;
    text-align: center;
}

thead {
    background-color: aqua;
    font-family: lobster;
}

tbody {
    color: white;
    background-color: coral;
    font-family: lobster;
}

tr:hover {
    background-color: white!important;
    color: black!important;
}