/* Global */
* {
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica;
  }
  
  /* Header */
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 50px;
      box-shadow: 0 1px 8px #666;
      background-color:#c9c9c9;
  }
  
  h1 {
      font-size: 1.5em;
  }
  
  header ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      padding: 0 20px;
  }
  
  header a {
      text-decoration: none!important;
      color: #fff;
      transition: all 0.3s;
  }



  
  header a:hover {
      color: #b2dfdb;
      transition: all 0.5s;
  }
  
  /* DROPDOWN: Menu desplegable */
  .dropdown {
      display: block;
  }
  
  /* El menú escondido */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
      z-index: 1;
      margin-left: -10%;
  }
  
  /* Cada elemento del menú escondido */
  .dropdown-content li {
      display: block;
      padding: 20px 10px;
  }
  
  /* Las anclas que estén dentro de cada elemento del menú escondido */
  .dropdown-content li a {
      text-decoration: none;
      color: #666;
  }
  .dropdown-content li a:hover {
      text-decoration: underline;
      color: #333;
  }
  
  /* 
      Cuando el cursor está por encima de dropdown (padre) 
      Aplicar solo a dropdown-content (menu) los estilos:
  */
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  /* 
      Cuando el cursor está por encima de dropdown (padre) 
      Aplicar solo a dropdown-button (botón) los estilos:
  */
  .dropdown:hover .dropdown-button {
      text-decoration: underline;
  }

  /* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {


    header {
		flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100vh;
        width: 20%;
	}


    header ul{
        margin-top: 20px;
        flex-direction: column;
        padding: 0;
    }

   


} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {

    body{
        background-color: green;
    }
} */


#container{
    margin: 50px auto;
    width: 50%;
    
}

.table{
    box-shadow: 10px 10px 20px #ccc;
    border-radius: 10px ;

}

#container h2{
    margin-bottom: 10px;
}

main{
    width: 100%;
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.row > div{
    width: 25%;
    text-align: center;
}

.th{
    background-color: #333;
    color: white;
    font-weight: bolder;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tr{
    background-color:var(--primer-color);
    border-bottom: 1px #666 dashed;
}

.tr:nth-child(even){
    background-color:var(--segundo-color);
}

.tr:last-child{
    border-bottom: 1px #666 solid;
    border-radius: 0 0 10px 10px;
}

.tr img{
    border-radius: 50px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 780px) {
    
    #page{
        display: flex;
    }

    header {
		flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100vh;
        width: 12%;
        
	}

    h1{
        padding-right: -10px;
        align-items: center;
        white-space: nowrap;
    }

    header:hover{
        width: 20%;
        padding: 20px 50px;
        transition: all 1s;
    }

    header ul{
        margin-top: 20px;
        flex-direction: column;
        padding: 0;
    }

    .dropdown-content{
        margin-left: 10%;
        margin-top: -1%;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
    body{
        background-color: aqua;
    }
}
 */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
    
} */