.container{
    display: flex;
    height: 100vh;
    border: solid 5px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container div{
    height: 200px;
    width: 20%;
    border: red solid;    

}

