body{
    background-color: #1D1F3F;
}

.container{
    display: flex;
    width: 300px;
    background-color: #1D1F3F;
    flex-direction: row;
    margin-left: 30%;
    margin-top: 5%;
    justify-content: space-between;
}


.container .div-1{
    /* width: 100vh; */
    height: 40px;

}

.container .div-2{
    /* width: 100vh; */
    height: 40px;
}

.container input{
    width: 400px;
    height: 25px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 5px 5px;
}

.container button{
    margin-left: 20px;
    height: 35px;
    width: 90px;
    border-radius: 4px;
    padding: 5px 5px;
}


.container2{
    display: flex;
    width: 504px;
    background-color: #1D1F3F;
    flex-direction: row;
    margin-left: 30%;
    margin-top: 2%;
    justify-content: space-around;
    background-color: #271F6A;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;

}

.container2 img{
    border-radius: 100px;

}

.container2 p{
    color: white;
}










